@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Zen-Kaku-Gothic-New, Chakra-Petch, Blinker, Ubuntu-Mono, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

img {
  border-radius:8px;
  max-width: 100%;
}