@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #dddddd;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

img {
  border-radius:8px;
  max-width: 100%;
}

@media (max-width: 992px) {
  body {
    font-size:10px;
  }
}

.buttons {
    padding: 10px;
    color: black;
    border-radius: 4px;
    background-color: grey;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    background-color: #555;
    color: white;
}